{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="form-container">
  <h1 class="formhead">Admission Form</h1>
  <form id="FORM" method="POST" action="{% url 'admission' %}">
    {% csrf_token %}
    <fieldset class="formfield">
      <legend class="formlegend">1. Student Information</legend>
      <label class="formlabel">Class of Admission: <input class="forminput" type="text" name="class_admission"
          id="class_admission" required></label>
      <label class="formlabel">Name (as on Aadhaar): <input class="forminput" type="text" name="name" id="name"
          required></label>
      <label class="formlabel">Date of Birth: <input class="forminput" type="date" name="dob" id="dob" required></label>
      <label class="formlabel">Gender:
        <select class="formselect" name="gender" required>
          <option>Boy</option>
          <option>Girl</option>
        </select>
      </label>
      <label class="formlabel">Place of Birth: <input class="forminput" type="text" id="place_of_birth"
          name="place_of_birth" required></label>
      <label class="formlabel">Nationality: <input class="forminput" type="text" id="nationality" name="nationality"
          required></label>
      <label class="formlabel">WhatsApp Number (Parent): <input class="forminput" type="number" id="p_number"
          name="p_number" required></label>
      <label class="formlabel">Aadhaar Number: <input class="forminput" type="text" id="aadhaar" name="aadhaar"></label>
      <label class="formlabel">BPL Family:
        <select class="formselect" id="bpl" name="bpl">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </label>
    </fieldset>
    <fieldset>
      <legend class="formlegend">2. Parent / Guardian Information</legend>
      <label class="formlabel">Father’s Name: <input class="forminput" type="text" id="father_name" name="father_name"
          required></label>
      <label class="formlabel">Father’s Mobile: <input class="forminput" type="number" id="father_number"
          name="father_number" required></label>
      <label class="formlabel">Father’s Occupation:
        <select class="formselect" id="father_occupation" name="father_occupation">
          <option>Agriculture Farmer</option>
          <option>Laborer</option>
          <option>Self-Employed</option>
          <option>Private Job</option>
          <option>Govt. Employee</option>
          <option>Military Personnel</option>
          <option>Other</option>
        </select>
      </label>
      <label class="formlabel">Mother’s Name: <input class="forminput" type="text" id="mother_name" name="mother_name"
          required></label>
      <label class="formlabel">Mother’s Mobile: <input class="forminput" type="number" id="mother_number"
          name="mother_number" required></label>
      <label class="formlabel">Mother’s Occupation:
        <select class="formselect" id="mother_occupation" name="mother_occupation">
          <option>Housewife</option>
          <option>Agriculture Farmer</option>
          <option>Laborer</option>
          <option>Self-Employed</option>
          <option>Private Job</option>
          <option>Govt. Employee</option>
          <option>Military Personnel</option>
          <option>Other</option>
        </select>
      </label>
      <label class="formlabel">Annual Income (Rs): <input class="forminput" type="number" id="income"
          name="income"></label>
    </fieldset>
    <fieldset>
      <legend class="formlegend">3. Sibling Information</legend>
      <label class="formlabel">Name: <input class="forminput" type="text" id="sibling_name1"
          name="sibling_name1"></label>
      <label class="formlabel">Class: <input class="forminput" type="text" id="sibling_class1"
          name="sibling_class1"></label>
      <label class="formlabel">Relation:
        <select class="formselect" id="sibling_relation1" name="sibling_relation1">
          <option>Brother</option>
          <option>Sister</option>
        </select>
      </label>
    </fieldset>
    <fieldset>
      <legend class="formlegend">4. Address Information</legend>
      <label class="formlabel">Correspondence Address: <input class="forminput" type="text" id="address" name="address"
          required></label>
      <label class="formlabel">Distance from School (km): <input class="forminput" type="number" id="distance"
          name="distance" required></label>
      <label class="formlabel">City: <input class="forminput" type="text" id="city" name="city" required></label>
      <label class="formlabel">District: <input class="forminput" type="text" id="district" name="district"
          required></label>
      <label class="formlabel">State: <input class="forminput" type="text" id="state" name="state" required></label>
      <label class="formlabel">Pin Code: <input class="forminput" type="text" id="pincode" name="pincode"
          required></label>
    </fieldset>
    <fieldset>
      <legend class="formlegend">5. Reservation Info</legend>
      <label class="formlabel">Religion:
        <select class="formselect" id="religion" name="religion" required>
          <option>Hindu</option>
          <option>Christian</option>
          <option>Muslim</option>
          <option>Buddhist</option>
          <option>Sikh</option>
          <option>Jain</option>
          <option>Parsi</option>
        </select>
      </label>
      <label class="formlabel">Category:
        <select class="formselect" id="category" name="category">
          <option>General</option>
          <option>ST</option>
          <option>SC</option>
          <option>OBC-A</option>
          <option>OBC-B</option>
        </select>
      </label>
    </fieldset>
    <button class="formbutton" type="submit">Submit Application</button>
  </form>
</div>
{% endblock %}
</body>
</html>