<h1>HELLO</h1>


    <h3>Student List </h3>
    <table>
        <tr>
            <th>Unique Id.</th>
            <th>Name</th>
        </tr>
        {% for student in admin %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.class_admission }}</td>
            <td>
            </td>
        </tr>
        {% endfor %}
    </table>
<form action="#" method="post" action={% url 'adminpage' %}>
  {% csrf_token %}
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" required>

            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" required>

            <button type="submit">Submit</button>
</form>
