{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="alumdes">
    <h1>Say hello to our alumnis</h1>
    <div class="desalu">
        <img src="{% static 'img/Chairman and Director.png' %}">
        <h3>Name of the alumni</h3>
        <p>Description about the alumni and his achievements that has been done auisnan mjandka.,a alissdja;kn </p>
    </div>
    <div class="desalu">
        <img src="{% static 'img/Chairman and Director.png' %}">
        <h3>Name of the alumni</h3>
        <p>Description about the alumni and his achievements that has been done auisnan mjandka.,a alissdja;kn </p>
    </div>
    <div class="desalu">
        <img src="{% static 'img/Chairman and Director.png' %}">
        <h3>Name of the alumni</h3>
        <p>Description about the alumni and his achievements that has been done auisnan mjandka.,a alissdja;kn </p>
    </div>
</section>
{% endblock %}
</body>
</html>