{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="descripfoun">
  <h1>FOUNDER AND CHAIRPERSON</h1>
  <img src="{% static 'img/Chairman and Director.png' %}">
  <h1>MR. PRAVEEN MUKHIA TITIMUS</h1>
  <p>This is the thing that happens tin the school and is very mesmerising
    jadbfc jwdagnbiyukawjshfnawpKD IUQHDUIHNDLKA JHBDCKN KJC QUDOIAIHNDAJSDBA UOABFUBANA
    HFUIDBFDF AD.Fjkbasdn uicjkndmfiaklsmdc'lmck mss cjnsdconkldsc,sdm m dflkfnelkaopka,m
    lkcm,a[s'dl[adjeoionaklmls['lmadljnpiadidapdmaskdamdslkmnalksdjmcahfiulakjsnc kaj,bnf']]]
  </p>
</section>
{% endblock %}
</body>
</html>