{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="menu-overlay"></div>
<section class="GALLERY">
  <div class="Rowga">
    <div class="col-3">
      <a href="{% url 'soty' %}"> <img src="{% static 'img/demophoto1.jpg' %}" width="450px"></a>
      <a href="{% url 'soty' %}">
        <h3>Student of the year
        </h3>
      </a>
    </div>
    <div class="col-3">
      <img src="{% static 'img/demophoto1.jpg' %}" width="450px">
      <h3>event 2</h3>
    </div>
    <div class="col-3">
      <img src="{% static 'img/demophoto1.jpg' %}" width="450px">
      <h3>event 3</h3>
    </div>
  </div>
  </br>
</section>
{% endblock %}
</body>
</html>