{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="Govbody">
  <h1>Meet our governing body</h1>
  <p>Meet the governing body of our school</p>
  <div class="rowgov">
    <div class="colgov">
      <h3>Name of the faculty</h3>
      <p> description about the faculty</p>
    </div>
    <div class="colgov">
      <img src="{% static 'img/demophoto1.jpg' %}">
    </div>
  </div>
  </div>
  <div class="rowgov">
    <div class="colgov">
      <h3>Name of the faculty</h3>
      <p> description about the faculty</p>
    </div>
    <div class="colgov">
      <img src="{% static 'img/demophoto1.jpg' %}">
    </div>
  </div>
  </div>
  <div class="rowgov">
    <div class="colgov">
      <h3>Name of the faculty</h3>
      <p> description about the faculty</p>
    </div>
    <div class="colgov">
      <img src="{% static 'img/demophoto1.jpg' %}">
    </div>
  </div>
  </div>
</section>
{% endblock %}
</body>
</html>