{% extends 'base.html' %}
{% load static %}
{% block title %} Shalom English School {% endblock %}
{% block content %}
<div class="menu-overlay"></div>
<section class="header">
  <div class="mySlides fade">
    <img src="{% static 'img/banner.jpg' %}" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="{% static 'img/2.JPG' %}" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="{% static 'img/1.jpeg' %}" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="{% static 'img/4.jpeg' %}" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="{% static 'img/6 (1).jpeg' %}" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="{% static 'img/6 (2).jpeg'  %}" style="width:100%">
  </div>
  <div class="textbox">
    <h1>SHALOM ENGLISH SCHOOL</h1>
    <P>Where education along with other activities is everything</P>
    <a class="herobtn">visit us to know more</a>
  </div>
</section>
<!-- course and facilities -->
<section class="middes">
  <h1>Facilities we offer to the students</h1>
  <p>here are the things that can be written </p>
  <div class="row">
    <div class="coursecol">
      <img src="{% static 'img/demophoto1.jpg' %}">
      <h3>hhi facilities</h3>
      <p>yshjbjasjhanjbadfban jsadnasjdnx ckjxncoalsncpa</p>
    </div>
    <div class="coursecol">
      <img src="{% static 'img/demophoto1.jpg' %}">
      <h3>hello facilities</h3>
      <p>yshjbjasjhanjbadfban jsadnasjdnx ckjxncoalsncpa</p>
    </div>
    <div class="coursecol">
      <img src="{% static 'img/demophoto2.jpg' %}">
      <h3>hellow facilities</h3>
      <p>yshjbjasjhanjbadfban jsadnasjdnx ckjxncoalsncpa</p>
    </div>
  </div>
</section>
<section class="desfoun">
  <img src="{% static 'img/Chairman and Director.png' %}">
  <h1>MR. PRAVEEN MUKHIA TITIMUS</h1>
  <p>This is the thing that happens tin the school and is very mesmerising
    jadbfc jwdagnbiyukawjshfnawpKD IUQHDUIHNDLKA JHBDCKN KJC QUDOIAIHNDAJSDBA UOABFUBANA
    HFUIDBFDF AD.Fjkbasdn uicjkndmfiaklsmdc'lmck mss cjnsdconkldsc,sdm m dflkfnelkaopka,m lkcm,a[s'
    dl[adjeoionaklmls['lmadljnpiadidapdmaskdamdslkmnalksdjmcahfiulakjsnc kaj,bnf']]]
  </p>
</section>
<!-- -----------------------------------------payment-------------------------------------- -->
<section class="payment">
  <h1>Make your payment here =></h1>
  <a href="{% url 'payment' %}"><img src="{% static 'img/sl_033122_49420_23.jpg' %}"></a>
</section>
{% endblock %}
</body>

</html>