{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content=" with=device-width , initial-scale=1.0">
    <title>Shalom english school</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="heading">
      <a href="index.html"><img src="{% static 'img/logo.png' %}" width="100px" height="100px">        </a>
        <h1 >SHALOM ENGLISH SCHOOL,CHOTAHATTA</h1>
        
    </div>
    <nav>
        <div class="nav-container">
          <!-- <a href="/" class="logo">School Name</a> -->
          <button class="mobile-menu-btn">☰</button>
          <ul class="nav-menu">
            <button class="close-menu-btn">×</button>
            <li class="nav-item">
              <a href="{% url 'index' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About</a>
              <div class="dropdown">
                <a href="{% url 'founder' %}">Founder</a>
                <a href="#">School</a>
                <a href="{% url 'govern' %}">Governing Body</a>
                <a href="#">History</a>
                <a href="{% url 'contact' %}">Contact</a>

                <a href="#">School Calender</a>
                <a href="#">Scholarships</a>


              </div>
            <li class="nav-item">
              <a href="#" class="nav-link">Academics</a>
              <div class="dropdown">
                <a href="#">Programs</a>
               
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Admissions</a>
              <div class="dropdown">
                <a href="#">Admit </a>
                <a href="#">Requirements</a>
                <a href="#">Fees Structure</a>
              </div>
            </li>
           
            <li class="nav-item">
              <a href="#" class="nav-link">Alumni</a>
              <div class="dropdown">
                <a href="{% url 'alumni' %}">Our Alumnis</a>
                <a href="#">Register</a>
                
                 
              </div>
            </li>
             <li class="nav-item" >
              <a href="{% url 'gallery' %}" class="nav-link">Gallery</a>
              
            </li>
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">login</a>
              
            </li>
          </ul>
        </div>
      </nav>
        <!-- <img src="imasha/banner.jpg" class="firstslide"> -->
        
           
         
          
       

    </section>
    
   
    <section class="descripfoun">  
        <img src="imasha/foun.jpg">  
        <h1>MR. PRAVEEN MUKHIA TITIMUS</h1>
    
         <p>This is the thing that happens tin the school and is very mesmerising 
            jadbfc jwdagnbiyukawjshfnawpKD  IUQHDUIHNDLKA JHBDCKN KJC QUDOIAIHNDAJSDBA UOABFUBANA 
            HFUIDBFDF AD.Fjkbasdn uicjkndmfiaklsmdc'lmck mss cjnsdconkldsc,sdm m dflkfnelkaopka,m lkcm,a[s'dl[adjeoionaklmls['lmadljnpiadidapdmaskdamdslkmnalksdjmcahfiulakjsnc kaj,bnf']]]
         </p> 

    
    
        </section>
        <!-- -----------------------------------------payment-------------------------------------- -->
        <section class="payment">
            <h1>Make your payment here =></h1>
            <a href=""><img src="imasha/sl_033122_49420_23.jpg"></a>
        </section>
        <!-- --------------------------------------------------footer----------------------------------- -->
        <section class="footer">
            <div class="rowfooter">
                <div class="footercol">
             <ul>
                <li>Glimpses</li>
                <li>Contact us</li>
             </ul>
                </div>
                 <div class="footercol">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3552.305113697604!2d88.103027!3d27.0836738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e5d530cd862f19%3A0xcb84d3a2f62e6aa1!2sSHALOM%20ENGLISH%20SCHOOL!5e0!3m2!1sen!2sin!4v1741622468785!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
               <div class="footercol">
                 <h3>our address</h3>
                 <p>Shalom english school
                    chotahatta, darjeeling
                 </p>
               </div>
            </div>

        </section>
    <!-- -------------------------JAVASCRIPT FOR TOGGLE MENU-------------------------- -->
    <script> 
    var navliinks = document.getElementById("navliinks")
    function showMenu(){
        navliinks.style.right ="0";

    }
    function hideMenu(){
        navliinks.style.right ="-200px";
    }

    </script>
    <script>
        var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none"; 
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1} 
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block"; 
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 6000); // Change image every 5 seconds
}

    </script>
</body>
</html>
