{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="rules">
    <div class="rulehead">
        <h1>Rules and Regulations</h1>
        <h3>Shalom English School</h3>
    </div>
    <div class="cont">
        <h3>General Rules</h3>
        <ol type="1">
            <li>Attendance: Regular attendance is expected. Students are required to attend classes and arrive on time.
            </li>
            <li>Respect: Students are expected to show respect to teachers, staff, and peers</li>
            <LI>Bullying: Bullying is not tolerated. Students are expected to treat others with kindness and respect.
            </LI>
            <li>Academic Integrity: Plagiarism and cheating are not allowed. Students are expected to do their own work
                and cite sources properly.</li>
        </ol>
    </div>
    <div class="cont">
        <h3>Classroom Rules</h3>
        <ol type="1">
            <li>Attendance: Regular attendance is expected. Students are required to attend classes and arrive on time.
            </li>
            <li>Respect: Students are expected to show respect to teachers, staff, and peers</li>
            <LI>Bullying: Bullying is not tolerated. Students are expected to treat others with kindness and respect.
            </LI>
            <li>Academic Integrity: Plagiarism and cheating are not allowed. Students are expected to do their own work
                and cite sources properly.</li>
        </ol>
    </div>
    <div class="cont">
        <h3>Classroom Rules</h3>
        <ol type="1">
            <li>Attendance: Regular attendance is expected. Students are required to attend classes and arrive on time.
            </li>
            <li>Respect: Students are expected to show respect to teachers, staff, and peers</li>
            <LI>Bullying: Bullying is not tolerated. Students are expected to treat others with kindness and respect.
            </LI>
            <li>Academic Integrity: Plagiarism and cheating are not allowed. Students are expected to do their own work
                and cite sources properly.</li>
        </ol>
    </div>
</section>
{% endblock %}
</body>
</html>