{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="GALLERY-sub">
    <div class="Rowga-sub">
        <div class="col-3-sub">
            <img src="{% static 'img/bhanu jayanti.jpg' %}" width="450px">
        </div>
        <div class="col-3-sub">
            <img src="{% static 'img/host.jpg' %}" width="450px">
        </div>
        <div class="col-3-sub">
            <img src="{% static 'img/thai.jpg' %}" width="450px">
        </div>
    </div>
    <div class="Rowga-sub">
        <div class="col-3-sub">
            <img src="{% static 'img/ses1.jpg' %}" width="450px">
        </div>
        <div class="col-3-sub">
            <img src="{% static 'img/demophoto1.jpg' %}" width="450px">
        </div>
        <div class="col-3-sub">
            <img src="{% static 'img/demophoto1.jpg' %}" width="450px">
        </div>
    </div>
    <div class="Rowga-sub">
        <div class="col-3-sub">
            <img src="{% static 'img/demophoto1.jpg' %}" width="450px">
        </div>
        <div class="col-3-sub">
            <img src="{% static 'img/demophoto1.jpg' %}" width="450px">
        </div>
        <div class="col-3-sub">
            <img src="{% static 'img/demophoto1.jpg' %}" width="450px">
        </div>
    </div>
    <div class="Rowga-sub">
        <div class="col-3-sub">
            <img src="{% static 'img/bhanu jayanti.jpg' %}" width="450px">
        </div>
        <div class="col-3-sub">
            <img src="{% static 'img/bhanu jayanti.jpg' %}" width="450px">
        </div>
        <div class="col-3-sub">
            <img src="{% static 'img/bhanu jayanti.jpg' %}" width="450px">
        </div>
    </div>
</section>
{% endblock %}
</body>
</html>