{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="vision-mission">
   <h1> Vision and Mission of our school</h1>
   <div class="rowvis">
      <div class="colvis">
         <img src="imasha/gp lodhoma.jpg">
      </div>
      <div class="colvis">
         <h3>
            Nurturing of the students
         </h3>
         <p>
            Nurturing the students is our main priority and is always our prior to have the students in our arms
         </p>
      </div>
   </div>
   <div class="rowvis">
      <div class="colvis">
         <h3>
            Nurturing of the students
         </h3>
         <p>
            Nurturing the students is our main priority and is always our prior to have the students in our arms
         </p>
      </div>
      <div class="colvis">
         <img src="imasha/gp lodhoma.jpg">
      </div>
   </div>
</section>
{% endblock %}
</body>
</html>